<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
		
	<extension
	      point="org.eclipse.wst.xml.search.core.xpathProcessors">
	    <processor
	          class="org.eclipse.wst.xml.search.xpath.processors.WSTXPath2Processor"
	          id="WSTXPath2Evaluator"
	          name="%wstXPath2ProcessorName">
	    </processor>
	</extension>	
	
</plugin>
